<?xml version="1.0"?>
<configuration>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <httpHandlers>
      <add verb="*" path="*.htm" validate="false" type="wet.variants.dotNetRendering.Handler, doNetRendering, Version=1.0.0.0, Culture=neutral, PublicKeyToken=665848dbdaa56124"/>
      <add verb="*" path="*.html" validate="false" type="wet.variants.dotNetRendering.Handler, doNetRendering, Version=1.0.0.0, Culture=neutral, PublicKeyToken=665848dbdaa56124"/>
    </httpHandlers>
  </system.web>
</configuration>
