@charset "utf-8";
/*!
 * Accessibility responsibility breakdown v1.03 / Répartition des responsabilités d'accessibilité v1.03
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
table.zebra th, table.zebra td {border: 1px solid #CCC;}
table.zebra th {color: #FFF; background-color: #B01523;}
tr.table-odd td {background-color:#F8F0DA}
tr.table-hover td, tr.table-hover td a{background-color:#3F3F3F !important; color: #FFF;} 
tr.table-hover td a:hover{background-color:#FFF !important;} 
#tsrw td {text-align: center;}
#toggle-level div, #toggle-phase div {float: left; width: 12em;}