@charset "utf-8";
/*!
 * CSS presentation layer v1.31 / Couche présentation de CSS v1.31
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {
	#cn-cols {margin-bottom: -20px;}
}

/** Print-only CSS **/
@media print {
}