<?xml version="1.0" encoding="utf-8" ?> 
<!-- 
	XML/XSLT Abstraction Project v1.2 / Abstraction XML/XSLT  v1.2
	Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
	Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
	Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
	-->
<templateconfig>
	<stylesheets>
		<stylesheet id="themebase" href="theme-base/css/theme-base.css" />
		<stylesheet id="ie6themebase" href="theme-base/css/theme-base-ie6.css" />
	</stylesheets>
</templateconfig>
