@charset "utf-8";
 /*
 * Menu bar v1.04 / Barre de menu v1.04
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.wet-boew-menubar{background-color:#363;border-bottom:4px solid #999;min-height:28px;}
.mb-container{position:relative;}
.mb-menu {position:absolute;background-color:#363;width:100%;z-index:500;padding:4em;float:left;}
* html .mb-menu {position:relative;}
*:first-child+html .mb-menu {position:relative;}
.mb-menu, .mb-menu li{list-style:none;margin:0; padding:0; min-height:2.2em;}
.mb-menu li{background-color:#363;border-left:1px solid #353;border-right:1px solid #575;float:left;}
.mb-menu li h3{font-size:100%; padding:0; margin:0;}
.mb-menu a {font-weight:bold;text-align:left; white-space:nowrap; display:block;padding: 0.45em 0.79em;}
.mb-menu a:link,.mb-menu a:visited {text-decoration:none;color:#fff;}
.mb-menu a:hover,.mb-menu a:focus,.mb-menu a:active {text-decoration:underline;}
.mb-menu .nav-current {background:#242;color:#fff;}
.mb-menu li:first-child.mb-active {border-left:1px solid #CCC;}
.mb-active a:hover.mb-has-sm,.mb-active a:link.mb-has-sm,.mb-active a:visited.mb-has-sm {background-color:#CCC;color:#000;}
.mb-menu li div.mb-sm{display: none; visibility: hidden;}
.mb-menu .mb-sm-open {position:absolute;z-index:499;}
.mb-menu .mb-sm-open a{white-space:normal;}
* html .mb-menu .mb-sm-open a{white-space:nowrap;}
.mb-menu .mb-sm-open ul{list-style-type:none;}
.mb-menu .mb-sm-open li,.mb-menu .mb-sm-open li div{display:block;float:none;background:none;border:none;min-height:0;}
.mb-menu .mb-sm-open li a{font-weight:normal;}
* html .mb-sm-open li a{display: inline-block;}
.mb-menu .mb-sm-open a,.mb-menu .mb-sm-open a:link,.mb-menu .mb-sm-open a:visited{color:#000;}
.mb-menu .expandicon {padding-right:12px;background: url("MenuDropDown.gif") no-repeat right center;}

/** Mega menu **/
.mb-megamenu .mb-sm-open{background-color:#CCC;border-bottom:4px solid #242;padding-top:5px;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;}
* html .mb-megamenu .mb-sm-open {width:760px;}
.mb-megamenu .mb-sm-open h2, .mb-megamenu .mb-sm-open h3, .mb-megamenu .mb-sm-open h4{font-size:1.2em;font-weight:700;margin:0;}
.mb-megamenu .mb-sm-open ul{margin: 0 0 0 1.2em;padding: 0 0 1em;}
.mb-megamenu .mb-sm-open .menu-col {float:left;min-width:190px;}